![](../images/itam_logo.png)
<br>

## Python 

M. Sc. Liliana Millán Núñez liliana.millan@gmail.com

Agosto 2020


### Agenda 

+ Pyenv
+ Python 
+ Ecosistema Python 
+ Tipos de datos
+ Estructura de datos
+ Funciones 

### First ...

Antes de empezar hagamos un ejercicio rápido en [miro] para saber de sus sistemas operativos. 

Si tienes Windows primero necesitarás instalar [Ubuntu en Windows](https://www.microsoft.com/en-us/p/ubuntu/9nblggh4msv6?activetab=pivot:overviewtab) ya que todo lo demás será hecho sobre Linux. 

Una vez instalado, abre la aplicación y desde ahí inicia la siguiente parte. 


### Pyenv

Administrador de versiones de Python que nos permite tener varias versiones de python instaladas en tu computadora sin romper tu ambiente y mantenerlas separadas. En conjunto con `virtualenv` se vuelve un *virtual environment* para administrar ambientes virtuales. 

+ [Instalar PyEnv](https://github.com/pyenv/pyenv). Ve a la sección de instalación y sigue las instrucciones para Linux. 


Tu computadora seguro ya trae Python 2.7 instalado (por lo menos las basadas en distribuciones de Linux: Ubuntu y Mac), sin embargo esta versión es la que ocupa el sistema operativo para sus procesos, no queremos meternos con esa versión. 

Para la clase ocuparemos la versión 3.7.4 de Python, para ello necesitas correr el siguiente comando: `pyenv install 3.7.4`.

Revisa si tienes instalado `pip`, en tu terminal pon `pip` y ve lo que te regresa. Si es necesario, instala `pip` que es el administrador de paquetes de python [instalación](https://pip.pypa.io/en/stable/installing/)

Instala `pyenv-virtualenv` siguiendo los pasos de este [repositorio](https://github.com/pyenv/pyenv-virtualenv).

Crea un ambiente `itam_md`: `pyenv virtualenv 3.7.4 itam_md`

Para activar tu ambiente (cada vez que hagas cosas de esta clase) puedes ejecutar el siguiente comando: `pyenv activate itam_md`. Una vez que termines de ocupar ese ambiente/la clase/la tarea/el proyecto puedes desactivate el ambiente con la siguiente instrucción: `pyenv deactivate`. 




### Jupyter notebooks

Es muy común ocupar *Jupyter notebooks* como principal medio de generar código de Python -por lo menos en análisis de datos-. Sin embargo, no es recomendable utilizar *jupyter notebook* como medios de entrega ya que nunca se corren en el orden correcto -a menos que te obliguen a limpiarlo y ponerlo ordenado junto con texto explicativo de lo que estas haciendo-. 

Nosotros ocuparemos *Jupyter notebooks* para las tareas y deberán estar en el orden correcto con la organización y contexto -texto- adecuado. 

Para que no haya problemas de correr los scripts de un notebook vamos a ocupar como *kernel* el pyenv que hayas creado para esta materia. Para ello necesitaremos correr las siguientes líneas de código. 

```
# instalar ipykernel
`pip install ipykernel`

# hacer accesible el ambiente virtual al notebook de jupyter
`python -m ipykernel install --user --name your_virtualenv_name --display-name your_virtualenv_name`
```

Esto habilitará el kernel desde tu *Jupyter Notebook*, por lo que una vez que creas tu *notebook* solo necesitas cambiar el kernel a tu pyenv. (Ver ejemplo).


**Recomendaciones**

Trata de mantener aislado tu ambiente de pyenv de esta materia/proyecto, de esta manera cuando tengas que entregar un *notebook* o producto podrás agregar un `requirements.txt` en donde indicarás las librerías que ocupaste y las versiones específicas, este `requirementes.txt` se puede generar al hacer un `pip freeze` en el pyenv correspondiente. 


### Python 

**Características:**

+ Lenguaje de propósito general como Java, C, C++ -a diferencia de R-.
+ *Open Source*. 
+ Interpretado no compilado -> tiempo de *ejecución*.
+ IDE: PyCharm, Ninja, Atom, PyDev, etc.
+ Muy rápido para implementar una solución -a diferencia de Java y C- y fácil de entender.
+ También puede estar orientado a objetos.
+ Tiene operaciones de programación funcional.

### Ecosistema de Python 

+ Como *middleware* y *backend* de servicios
+ Desarrollo web: Django
+ APIs: Flask
+ Javascript: Pyjs
+ Desarrollo para cómputo distribuido/datos de gran escala: PySpark
+ Análisis de datos: Pandas
+ Gráficas, visualización: Matplotlib, plotly
+ Aprendizaje de máquina: Sklearn
+ DeepLearning: PyTorch, TensorFlow, Theano
+ Operacion de matrices y vectores, algebra lineal: Numpy
+ Cómputo científico: Scipy
+ Notebooks: Jupyter
+ Interactive python: IPython

### Tipos de datos 

Python tiene un tipado fuerte pero dinámico, esto significa que si una variable es un número, no cambiará mágicamente a ser string -en Perl si puede suceder-, la parte dinámica tiene que ver con que una variable no está atada a una declaración estática de su tipo. Por ejemplo: `int var=1` es estática porque al querer poner `var="1"` marcará un error de que var está declarada como tipo entero. 

+ Boolean: True, False
+ Entero (int): 32 bits de precisión
+ Flotante: Números con punto decimal o exponente
+ Long (L): Si no cupo en un int
+ Complejo (J)
+ String (str)



### Estructuras de datos 

+ Listas 
+ Diccionarios
+ Tuplas
+ Sets

#### Listas 

Esta estructura nos permite almacenar datos de una forma ordenada, ordenada en el sentido de que el elemento que se encuentra en un determinado índice no se mueve al agregar más datos a esa estructura. 

Las listas en Python ocupan el *square bracket* `[]`.

Es posible tener listas dentro de otras lista.

In [128]:
ages = [35,26,33,21,28]
ages

[35, 26, 33, 21, 28]

In [2]:
type(ages)

list

In [3]:
#índices 
ages[3]

21

Puedes agregar más elementos a una lista

In [4]:
other_ages = [1]
ages = ages + other_ages
ages

[35, 26, 33, 21, 28, 1]

In [5]:
ages[5]

1

Nota que importa el orden en el que estas agregando los elementos. 

#### Operaciones frecuentes

+ Conocer el tamaño

In [6]:
len(ages)

6

+ Extracción de elementos: A través del índice, también puedes obtener un rango de la lista.

In [7]:
#secuencias
ages[:2]

[35, 26]

In [8]:
#secuencias
ages[3:]

[21, 28, 1]

+ Agregar elementos: También se puede hacer con un `append`

In [9]:
ages.append(2)
ages

[35, 26, 33, 21, 28, 1, 2]

Verificar si un elemento está en la lista

In [10]:
4 in ages

False

+ Modificación de elementos: A través del uso de índices. También se puede hacer a través de un `if else` pero lo veremos más adelante

In [11]:
ages[5] = 18
ages

[35, 26, 33, 21, 28, 18, 2]

+ Borrar elementos: Se realiza por el contenido de la lista, no por índices.

In [12]:
ages.remove(18)
ages

[35, 26, 33, 21, 28, 2]

+ Ordenar elementos en una lista ya sea en forma ascendente o descendente

In [13]:
ages.sort()
ages

[2, 21, 26, 28, 33, 35]

In [14]:
ages.sort(reverse=True)
ages

[35, 33, 28, 26, 21, 2]

In [15]:
ages = ages + [[45,55,40]]
ages

[35, 33, 28, 26, 21, 2, [45, 55, 40]]

In [16]:
ages[-1]

[45, 55, 40]

**Ejercicios:** Genera una lista de 10 elementos con estaturas de 10 compañeros que tengas a tu alrededor.

1. Ordénalos de menor a mayor
2. Cuál es la estatura que está en el índice 4 (mediana) 
3. Cuál es la menor estatura (puedes ocupar sort y luego obtener el del índice 0, luego veremos que esto en Pandas es mucho más sencillo)
4. Ordénalos de mayor a menor
5. Cuál es la mayor estatura

#### Diccionarios

Esta estructura de datos está formada por un par llave valor. La llave puede ser numérica o string y el valor puede ser cualquier cosa, incluso otro diccionario. 

Los diccionarios en python ocupan el *curly bracket* `{}`

In [83]:
students = {'Juan': 1234, 'Jose': 2345, 'Maria': 4321, 'Lucia': 2233}
students

{'Juan': 1234, 'Jose': 2345, 'Maria': 4321, 'Lucia': 2233}

In [84]:
other = {1234: 'Juan', 2345: 'Jose', 4321: 'Maria', 2233: 'Lucia'}
other

{1234: 'Juan', 2345: 'Jose', 4321: 'Maria', 2233: 'Lucia'}

In [85]:
test = {'1234': ['Juan', "Salvador", "Perez", 
                 {'carrera': ['Economia', 'Matematicas']}]}
test

{'1234': ['Juan',
  'Salvador',
  'Perez',
  {'carrera': ['Economia', 'Matematicas']}]}

In [20]:
len(test['1234'])

4

In [21]:
test['1234'][3]['carrera'][0]

'Economia'

**Operaciones frecuentes**

+ Obtener elementos del diccionario

In [22]:
students['Lucia']

2233

In [23]:
other[1234]

'Juan'

+ Obtener todas las llaves de un diccionario

In [24]:
students.keys()

dict_keys(['Juan', 'Jose', 'Maria', 'Lucia'])

In [25]:
students.items()

dict_items([('Juan', 1234), ('Jose', 2345), ('Maria', 4321), ('Lucia', 2233)])

In [26]:
list(students.items())[1]

('Jose', 2345)

In [27]:
students.values()

dict_values([1234, 2345, 4321, 2233])

+ Puedes modificar el contenido de una llave

In [28]:
students['Jose']

2345

In [29]:
students['Jose'] = 6789

In [30]:
students['Jose']

6789

In [31]:
test['1234'].append('otro')

In [32]:
test['1234']

['Juan', 'Salvador', 'Perez', {'carrera': ['Economia', 'Matematicas']}, 'otro']

In [33]:
students

{'Juan': 1234, 'Jose': 6789, 'Maria': 4321, 'Lucia': 2233}

In [34]:
students.pop('Juan')

1234

In [35]:
students

{'Jose': 6789, 'Maria': 4321, 'Lucia': 2233}

#### Sets

Esta estructura de datos contiene elementos no ordenados cuya característica principal es que forman un conjunto, y por lo tanto no puede haber repetidos. En los conjuntos dado que los elementos no están ordenados, no hay forma de obtener datos a través de índices u obtener rangos secuenciales de datos (*slice*).

Dado que son conjuntos, nos permite realizar operaciones entre conjuntos: intersección `intersection`, unión `union`, diferencia `difference`, si todos los elementos entre dos conjuntos son diferentes (no hay intersección) `isdisjoint`, si todo un conjunto de la derecha se encuentra contenido en el de la derecha `issubset`, si todos los elementos del conjunto de la izquierda están en el de la derecha `issuperset`.

Para generar un *set* tenemos que ocupar el *curly bracket* {} como con los diccionarios.

In [36]:
set_example = {'a', 'c', 4}
set_example

{4, 'a', 'c'}

Nota que al igual que en las listas, puedes agregar elementos de diferentes tipos.

Para agregar elementos a los *sets* dado que no existen índices, necesitaremos ocupar la función `add()` y para eliminar elementos del *set* ocupar la función `remove()`.

In [37]:
#agregar
set_example.add(3)
set_example

{3, 4, 'a', 'c'}

In [38]:
#eliminar
set_example.remove('a')
set_example

{3, 4, 'c'}

In [39]:
#union
set_example_2 = {4,'c', 'b', 1}
union_ex = set_example_2.union(set_example)
union_ex

{1, 3, 4, 'b', 'c'}

In [40]:
#intersection
intersection_ex = set_example_2.intersection(set_example)
intersection_ex

{4, 'c'}

In [41]:
#isdisjoint
set_example.isdisjoint(set_example_2)

False

In [42]:
#issubset
set_example.issubset(set_example_2)

False

In [43]:
#issuperset
set_example.issuperset(set_example_2)

False

#### Tuplas

Esta estructura de datos nos permite hacer una especie de "bolsa" de elementos de diferentes tipos, los elementos son ordenados por lo que se puede acceder a ellos a través de índices. 

Las tuplas ocupan los paréntesis `()`, aunque lo que realmente define a una tupla es el uso de la coma `,` ya que es posible tener tuplas con un solo elemento y para distinguirlas de los paréntesis normales se ocupa esta coma. Por ejemplo: `(3,)` es una tupla de un elmento, mientras que `(3)` corresponde a un numero 3 en un paréntesis. 

Resultan estructuras de datos muy útiles para pasar datos, resultados, entre funciones. 

A las tuplas no se les pueden agregar elementos o quitar elementos, o se cambia todo o nada.

In [10]:
tuple_example = ("a", 1)
tuple_example

('a', 1)

In [11]:
tuple_example[1]

1

In [12]:
tuple_example[2] = 'b'

TypeError: 'tuple' object does not support item assignment

 ### Flujos de control
 
 #### If - else

A través de `if-else` es posible aplicar operaciones condicionales a los datos.

In [30]:
x = 4

In [32]:
if x != 5:
    print("less that 5")
    print("...")
else:
    print("more than 5")

less that 5
...

If/elif/else

In [38]:
x = 6

In [39]:
if ((x > 0) and (x < 5)):
    print("entre 1 y 4")
elif x == 4:
    print("es cuatro")
else:
    print("es mayor que cuatro")

#### Ciclos 

Los ciclos nos permiten iterar sobre una colección, misma que puede ser una lista, los valores de un diccionario (aunque desaprovecharíamos los índices del mismo!), conjuntos, tuplas. 

Un ciclo se defiene por un `for [element] in [something]:` donde `[element]` es el nombre de una variable -como le quieras llamar- que tomará el valor de cada elemento en la colección `[something]`. 

Los ciclos en Python no requiren de utilizar llaves para definir el contenido del ciclo, a cambio ocupan identación. Todo en Python tiene que tener la identación adecuada o Python se quejará.

In [63]:
ages

[35, 26, 33, 21, 28]

In [64]:
len(ages)

5

In [65]:
for age in ages:
    print(age+100)

135
126
133
121
128

Existe una función `range()` que nos permite generar secuencias de números a través de las cuales haremos las iteraciones del ciclo. Esta función puede ocuparse de 3 diferentes formas: 

1. `range(x)` nos permitirá generar una secuencia que se dentendrá hasta el $x-1$ (recuerda que aquí todo inicia en 0!)
2. `range(x,y)` nos permitirá generar una secuencia que va desde $x$ hasta $y-1$
3. `range(x,y,z)` nos permitirá generar una secuencia que va desde $x$ hasta $y-1$ de $z$ en $z$.

In [68]:
for i in range(5):
    print(i)

0
1
2
3
4

In [71]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [77]:
for i in range(2, 5, 2):
    print(i)

2
4

In [80]:
ages = [35, 26, 33, 21, 28]
ages

[35, 26, 33, 21, 28]

In [81]:
for age in ages: 
    if age < 25:
        print(age, "joven")
    elif (age >= 25 and age < 35):
        print(age, "adulto")
    else: 
        print(age, "jovenazo...")

35 jovenazo...
26 adulto
33 adulto
21 joven
28 adulto

Existen veces en las que necesitamos tener el índice del elemento que forma parte de la colección, en ese caso podemos ocupar la función `enumerate` que le agrega una secuencia a cada elemento de una colección.

In [82]:
for i, age in enumerate(ages):
    print("elemento: ", i, " edad: ", age, 
          "tipo ", type(i), " tipo ", type(age))

elemento:  0  edad:  35 tipo  <class 'int'>  tipo  <class 'int'>
elemento:  1  edad:  26 tipo  <class 'int'>  tipo  <class 'int'>
elemento:  2  edad:  33 tipo  <class 'int'>  tipo  <class 'int'>
elemento:  3  edad:  21 tipo  <class 'int'>  tipo  <class 'int'>
elemento:  4  edad:  28 tipo  <class 'int'>  tipo  <class 'int'>

In [86]:
other

{1234: 'Juan', 2345: 'Jose', 4321: 'Maria', 2233: 'Lucia'}

In [87]:
other.values()

dict_values(['Juan', 'Jose', 'Maria', 'Lucia'])

In [88]:
for i, element in enumerate(other.values()):
    print(i, " ", element)

0   Juan
1   Jose
2   Maria
3   Lucia

In [89]:
other[0]

KeyError: 0

In [90]:
students

{'Juan': 1234, 'Jose': 2345, 'Maria': 4321, 'Lucia': 2233}

In [91]:
for i, element in enumerate(students.values()):
    print(i, " ", element)

0   1234
1   2345
2   4321
3   2233

In [95]:
#casts
print(1 + "??")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [96]:
print(str(1) + "??")

1??

In [102]:
a = ['a', "b", "c"]

In [104]:
len(a)

3

In [107]:
type(a)

list

In [105]:
b = ",".join(a)
b

'a,b,c'

In [106]:
type(b)

str

### Comprehension lists

Este es un operador que nos permite hacer programación funcional -una operación se aplica a todos los elementos de una colección al mismo tiempo-. De ser posible, **siempre** se prefiere usar un *comprehension list*  que ocupar un ciclo *for* ya que son más eficientes en memoria y en procesamiento. 

Una *list comprehension* ocupa un for pero en lugar de establecer las operaciones a realizar hacia abajo, lo hace en el mismo renglón, es posible regresar una lista, un diccionario y un generador.

In [108]:
u= [age/2 for age in ages]
u

[17.5, 13.0, 16.5, 10.5, 14.0]

In [109]:
{i: age for i, age in enumerate(ages)}

{0: 35, 1: 26, 2: 33, 3: 21, 4: 28}

In [110]:
[(i, age) for i, age in enumerate(ages)]

[(0, 35), (1, 26), (2, 33), (3, 21), (4, 28)]

In [112]:
ages

[35, 26, 33, 21, 28]

In [111]:
["<30" if age < 30 else ">=30" for age in ages]

['>=30', '<30', '>=30', '<30', '<30']

In [113]:
students

{'Juan': 1234, 'Jose': 2345, 'Maria': 4321, 'Lucia': 2233}

In [115]:
students.keys()

dict_keys(['Juan', 'Jose', 'Maria', 'Lucia'])

In [117]:
[key for key in students.keys()]

['Juan', 'Jose', 'Maria', 'Lucia']

In [ ]:
students.values()

In [118]:
[value*2 if i < 3 else value 
 for i, value in enumerate(students.values())]

[2468, 4690, 8642, 2233]

### Funciones

Las funciones nos permiten organizar nuestro código con el propósito de reutilizar lo más posible, y tener nuestro código organizado de manera más clara. 

Una función debería hacer una cosa y encapsularla para que pueda ser reutilizada en otras partes de nuestro código. 

Recuerda que seguramente tu código será utilizado por más personas en tu equipo de desarrollo y eventualmente alguien hará mantemiento del mismo, es por esto que tu código debe seguir el estilo de código de Python PEP8, debe seguir los principios de *clean clode* -nombres de variables claras, no ambigüas-, funciones con funcionalidad clara y atómica. 

Para crear una función necesitas ocupar la palabra `def` seguida del nombre de la función, con las variables que tiene que recibir y terminar con dos puntos. De nuevo la forma de distinguir que algo forma parte de una función e a través de la identación. 

Si la función regresará algo, puedes regresarlo ocupando un `return`, es posible regresar más de un elemento, de ser así puedes enviar tuplas, listas, diccionarios, etc.

In [130]:
ages

[35, 26, 33, 21, 28]

In [132]:
def duplicate_age(age):
    return age*2

In [133]:
duplicate_age("hola")

'holahola'

In [134]:
[duplicate_age(age) for age in ages]

[70, 52, 66, 42, 56]

In [143]:
def age_to_category(age):
    """Changes age to category"""
    category = None 
    
    if age < 25:
        category = "joven"
    elif (age >= 25 and age < 35):
        category = "joven-adulto"
    else: 
        category = "adulto"
        
    return category

In [142]:
[age_to_category(x) for x in ages]

['adulto', 'joven-adulto', 'joven-adulto', 'joven', 'joven-adulto']

#### Funciones lambda

Este es un tipo especial de función, estas funciones son "anónimas" en el sentido de que no las definimos con un nombre, como en el caso de las funciones normales, la definición la hacemos en la misma parte donde se ejecuta su llamado.

In [144]:
for age in ages:
    (lambda x: print(x*2))(age)

In [146]:
u = [element*2 for element in ages]

In [149]:
u

[70, 52, 66, 42, 56]


### Referencias 

+ [Tutorial de Python](https://docs.python.org/3/tutorial/index.html)
+ [API Python 3.7](https://docs.python.org/3.7/library/index.html)
+ [Guía de estilo de código PEP8](https://www.python.org/dev/peps/pep-0008/)